.categoryList {
  width: 200px;
  min-height: calc(100vh - 60px);
  background: dimgray;
  position: relative;
  z-index: 999;

  .item {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    background: dimgray;
    color: #FFF;
    transition: 0.3s;

    p {
      margin-left: 10px;
    }

    &:hover {
      background: #585858;
    }

    &_selected {
      background: #383838;

      &:hover {
        background: #383838;
      }
    }

  }

}