.productsPage {
  display: flex;
  min-height: calc(100vh - 60px);
  width: 100%;
  position: relative;
  overflow: hidden;

  .content {
    padding: 10px;
    flex-grow: 1;

    .products {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      margin-top: 10px;
    }

    .preloader {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      margin-top: 10px;

      .skeleton {
        border-radius: 10px;
      }
    }

  }
}